<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.trusteewallet"
  xmlns:tools="http://schemas.android.com/tools"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true"
      android:theme="@style/AppTheme"
      android:largeHeap="true"
    >
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_notification"/>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/default_notification_color"
                tools:replace="android:resource"
        />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:windowSoftInputMode="adjustResize"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="trustee.page.link" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bitcoin" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ethereum" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tw" android:host="pay" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="wc" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="branchandroid" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="trustee.app.link" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="uobg.app.link" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="litecoin" />
                <data android:scheme="tron" />
                <data android:scheme="litecoin" />
                <data android:scheme="binancecoin" />
                <data android:scheme="bnbsmartchain" />
                <data android:scheme="matic" />
                <data android:scheme="polygon" />
                <data android:scheme="fio" />
                <data android:scheme="aeneas" />
                <data android:scheme="ambrosus" />
                <data android:scheme="bitcoincash" />
                <data android:scheme="bitcoingold" />
                <data android:scheme="bitcoinsv" />
                <data android:scheme="dogecoin" />
                <data android:scheme="ethereumclassic" />
                <data android:scheme="ethereumropsten" />
                <data android:scheme="ethereumrinkeby" />
                <data android:scheme="fantomnetwork" />
                <data android:scheme="monero" />
                <data android:scheme="optimisticethereum" />
                <data android:scheme="ripple" />
                <data android:scheme="solana" />
                <data android:scheme="stellar" />
                <data android:scheme="vechainthor" />
                <data android:scheme="vechainthortoken" />
                <data android:scheme="verge" />
                <data android:scheme="waves" />
                <data android:scheme="velas" />
                <data android:scheme="bnb" />
                <data android:scheme="metis" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
                  android:permission="android.permission.INSTALL_PACKAGES"
                  android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" android:enabled="true" android:exported="false" />
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_pdZCA7n8hLlwZdxQZnuxTplmyynGtAqP"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_gc9DB1aZhVdyWpBQXcDFLokgytkHyvEX"/>
    </application>

</manifest>
